Repository 21f1006194/quant-quest, pull requests merged in 2025-04, with the labels that each got.

#8 User Registration
  backend/app/__init__.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/routes/common.py
  backend/app/utils/__init__.py
  backend/app/utils/helpers.py
  backend/migrations/README
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4381e2fa483a_initial_migration.py
Labels: backend

#13 Navigation Bar for Different User Roles
  frontend/src/components/NavBar.vue
  frontend/src/store/authStore.js
Labels: frontend

#12 #4: Design and Implement Database Models
  backend/app/models/README.md
  backend/app/models/__init__.py
  backend/app/models/gameplay.py
  backend/app/models/profile.py
  backend/app/models/user.py
  backend/app/models/verification.py
  backend/app/models/wallet.py
  backend/migrations/versions/d1192801ae42_added_changes.py
Labels: backend

#33 Add player games UI
  backend/app/models/gameplay.py
  backend/app/routes/game_router.py
  backend/app/routes/games/game_template/metadata.json
  backend/app/routes/games/ten_dice/metadata.json
  backend/app/routes/player.py
  backend/app/services/bet_service.py
  backend/app/services/game_service.py
  backend/migrations/versions/efea7e5e68f5_added_tags_and_difficulty_field_for_.py
  frontend/src/router/index.js
  frontend/src/views/player/PlayerDash.vue
  frontend/src/views/player/PlayerGamesView.vue
Labels: backend, frontend
